<%= form_for @short, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @short.errors.any? %>
    <% @short.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" rolt="alert"><%= message %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
 
<% end %>
